# .idea/ folders
.idea/

# .vim/ folders
.vim/

# language cache folders
__pycache__/
node_modules/

# Vim swap files
.*.sw*

# ctags files
.ctags
tags
tags.temp

# Mac files
.DS_Store

# Artifacts
*.exe
