"\C-l": "\C-e\C-u clear\C-m"
"\C-g": "\C-e\C-u git_diff\C-m"
"\C-h": "\C-e\C-u git_log\C-m"
"\C-n": "\C-e\C-u git_staging\C-m"
"\C-o": "\C-e\C-u git_status\C-m"
"\C-p": "\C-e\C-u git_sync\C-m"
"\C-_": "\C-e\C-u git_branches\C-m"
